*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.3)),
    url("./home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 85%;
    margin: auto;
}
nav{
    height: 8rem;
}
nav h1{
    float: left;
    line-height: 8rem;
    font-size: 3.5rem;
    font-size: inline;
    color: #1038be;
    margin-top: .1rem;
    cursor: pointer;
}
nav img{
    height: 7.5rem;
    width: 7.5rem;
    margin-left: 2.5rem;
    margin-top: .5rem;
}
nav ul{
    float: right;
    line-height: 8rem;
    font-size: 1.8rem;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 .5rem;
}
nav ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .5rem;
    padding: .7rem .8rem;
}
nav ul li a:hover{
    background-color: #1038be;
    transition: 0.5s ease;
}
nav ul li .active{
    background-color: #1038be;
}
.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size: 5.6rem;
    color: #fff;
    letter-spacing: .15rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
    font-family: 'Libre Baskerville', serif;
}
.article p{
    font-size: 2.4rem;
    color: #FFFFFF;
    line-height: 1.5;
    margin-bottom: 5rem;
    font-weight: 500;
}
.article .btn{
    color: #FFFFFF;
    padding: 1.2rem 2.5rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1038be;
    border-radius: 2.3rem;
    font-size: 1.7rem;
}
.article .btn:hover{
    background-color: #0ddd17;
    transition: 0.5s ease;
}
